<section class="sign-in">
  <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
      </div>
          <div class="signin-form">
              <h2 class="form-title">Đổi mật khẩu</h2>
              <form method="POST" class="register-form" id="login-form">
                  <div class="form-group">
                      <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                      <input type="password" name="password" [(ngModel)]="password" id="your_pass" placeholder="Nhập mật khẩu cũ"/>
                  </div>
                  <div class="form-group">
                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" name="newPassword" [(ngModel)]="newPassword" id="your_pass" placeholder="Nhập mật khẩu mới"/>
                </div>
                <div class="form-group">
                  <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                  <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" id="your_pass" placeholder="Nhập lại mật khẩu mới"/>
                 </div>
                  <div class="text-center">
                      <button  type="button" class="btn btn-outline-info mb-3" (click)="CuschangePass()" >Đổi mật khẩu</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
