<section class="sign-in">
  <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
      </div>
          <div class="signin-form">
              <h2 class="form-title">Đổi mật khẩu</h2>
              <form method="POST" class="register-form" id="login-form" *ngIf="resCustomer">
                  <div class="form-group">
                      <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                      <input type="password" name="password" [(ngModel)]="resCustomer.password" id="password" placeholder="Nhập mật khẩu cũ"/>
                  </div>
                  <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationChangePass.password ? validationChangePass.password : ''}}</span>

                  <div class="form-group">
                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" name="newPassword" [(ngModel)]="resCustomer.newPassword" id="newPassword" placeholder="Nhập mật khẩu mới"/>
                  </div>
                   <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationChangePass.newPassword ? validationChangePass.newPassword : ''}}</span>

                  <div class="form-group">
                  <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                  <input type="password" name="confirmPassword" [(ngModel)]="resCustomer.confirmPassword" id="confirmPassword" placeholder="Nhập lại mật khẩu mới"/>
                 </div>
                 <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationChangePass.confirmPassword ? validationChangePass.confirmPassword : ''}}</span>
                  <div class="text-center">
                      <button  type="button" class="btn btn-outline-info mb-3" (click)="CuschangePass()" >Đổi mật khẩu</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
