<div>
<div class="container" style="font-weight: 600 ;padding-bottom: 2%; background: whitesmoke; width: 120%; margin-left: 1%; border-radius: 10px; box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;">
 <div style="text-align: left;">
  <div class="row">
    <h4 style="padding-top: 20px;">Lọc kết quả</h4>
  </div>
  <div class="row mb-3" style="background-color: #6998AB;">
    <h5 class="text-white" style="padding-top: 5px;">Tất cả</h5>
  </div>
  <div class="row mb-3">
   <div class="col">
    <label>Điểm đi</label>
    <ng-select
        [items]="resProvince"
        [(ngModel)]="resScheduleFilter.kwFrom"
        placeholder="Chọn điểm đi..."
        bindLabel="nameProvince"
        bindValue="nameProvince"
        (change)="searchFilter()"
        name="from"
        id="from">
      </ng-select>
   </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label>Điểm đến</label>
      <ng-select
        [items]="resProvince"
        [(ngModel)]="resScheduleFilter.kwTo"
        placeholder="Chọn điểm đến..."
        bindLabel="nameProvince"
        bindValue="nameProvince"
        (change)="searchFilter()"
        name="to"
        id="to">
      </ng-select>
    </div>
  </div>

  <div class="row mb-3" >
    <div class="col">
      <label style="padding: unset;">Ngày đi</label>
    <input class="form-control" (change)="searchFilter()" [(ngModel)]="resScheduleFilter.kwDepartureDate" name="departureDate" onkeydown="return false" type="date">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <label style="padding: unset;">Ngày về</label>
      <input class="form-control" (change)="searchFilter()" [(ngModel)]="resScheduleFilter.kwReturnDate" name="returnDate" onkeydown="return false" type="date">
    </div>
  </div>

    <!-- <label>Dòng tour</label>
    <div class="col-6 mb-3">
      <button class="btn btn-outline-primary btn-block">Cao cấp</button>
    </div>
    <div class="col-6 mb-3">
      <button class="btn btn-outline-primary btn-block">Tiết kiệm</button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-primary btn-block">Tiêu chuẩn</button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-primary btn-block">Giá tốt</button>
    </div> -->
  <!-- </div> -->

  <div class="row mb-3">
    <div class="col row">
      <label>Số tiền</label>
      <div class="col-6">
        <div class="form-check">
          <input class="form-check-input" (change)="searchFilter(); priceFromSmall()"  type="radio" name="price" id="1price" >
          <label class="form-check-label" for="1price">
            <!-- <i class="fa-solid fa-crown"></i> -->
            Dưới 2tr
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" (change)="searchFilter(); priceFromToLarge()" type="radio" name="price" id="2price">
          <label class="form-check-label" for="2price">
            Từ 5-10tr
            <!-- <i class="fa-solid fa-piggy-bank"></i> -->
          </label>
        </div>
      </div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" (change)="searchFilter(); priceFromToSmall()"  type="radio" name="price" id="3price">

            <label class="form-check-label" for="3price">
              Từ 2-5tr
            </label>
          </div>
        <div class="form-check">
          <input class="form-check-input" (change)="searchFilter(); priceToLarge()" type="radio" name="price" id="4price" >
          <label class="form-check-label" for="4price">
            Trên 10tr
          </label>
        </div>
      </div>
    </div>
       <!-- <label>Giá tour</label>
    <div class="col-6 mb-3">
      <button class="btn btn-outline-primary btn-block">Dưới 5tr</button>
    </div>
    <div class="col-6 mb-3">
      <button class="btn btn-outline-primary btn-block">Từ 5-10tr</button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-primary btn-block">Trên 10tr</button>
    </div>
    <div class="col-6">
      <div  class="btn btn-outline-primary btn-block">
        <input type="text" class="input-btn" placeholder="Nhập giá...">
      </div>
    </div> -->
 </div>

 <div class="row mb-3">
  <div class="col">
    <label>Hiển thị những chuyến đi có</label>
    <div class="form-check form-switch">
      <input class="form-check-input" (change)="searchFilter()" [(ngModel)]="resScheduleFilter.kwPromotion" type="checkbox" role="switch" id="promotion">
      <label class="form-check-label" for="promotion">Khuyến mãi</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="slot" checked>
      <label class="form-check-label" for="slot">Ngày lễ</label>
    </div>
  </div>
</div>
</div>
</div>
