<div class="container" *ngIf="resTourBooking">
  <div class="row">
    <div class="row">
      <div class="container col-7" >
        <div style="border: 1px solid #2d4271; border-radius: 10px; padding: 20px;">
          <h4  style="color: #2d4271; font-weight: 600;">THÔNG TIN LIÊN LẠC</h4>
          <div class="container" style="border-top: 1px solid #2d4271;">
            <div class="row">
             <div class="mb-3 col-6 mt-3">
               <label for="name" class="form-label">Họ và tên</label>
               <p style="color: #2d4271; font-weight: 600;">{{resTourBooking.nameContact}}</p>
             </div>
             <div class="mb-3 col-6 mt-3">
               <label for="email" class="form-label">Email</label>
               <p style="color: #2d4271; font-weight: 600;">{{resTourBooking.email}}</p>
             </div>
            </div>
            <div class="row">
             <div class="col-6">
               <label for="phone" class="form-label">Số điện thoại</label>
               <p style="color: #2d4271; font-weight: 600;">{{resTourBooking.phone}}</p>
             </div>
             <div class="col-6">
               <label for="address" class="form-label">Địa chỉ</label>
               <p style="color: #2d4271; font-weight: 600;">{{resTourBooking.address}}</p>
             </div>
            </div>
          </div>
        </div>

        <div class="mt-5" style="border: 1px solid #2d4271; border-radius: 10px; padding: 20px;">
          <h4  style="color: #2d4271; font-weight: 600;">CHI TIẾT BOOKING</h4>
          <div class="container" style="border-top: 1px solid #2d4271;">
            <div class="row mb-3 mt-3" *ngIf="resTourBooking.bookingNo">
              <label class="form-label col-4" style="font-weight: 600;">BookingNo</label>
              <p class="col-8" style="color: #2d4271;"><span class="text-danger" style="font-weight: 600;">{{resTourBooking.bookingNo}}</span> (Quý khách vui lòng nhớ mã giao dịch để thuận tiện cho các giao dịch sau này)</p>
            </div>
            <div class="row mb-3 mt-3">
              <label class="form-label col-4" style="font-weight: 600;">Pin code</label>
              <p class="col-8" style="color: #2d4271;"><span class="text-danger" style="font-weight: 600;">{{resTourBooking.pincode}}</span> (Quý khách vui lòng nhớ mã pincode để thuận tiện cho việc thanh toán)</p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Người lớn</label>
               <p class="col-8" style="color: #2d4271;">{{resTourBooking.tourBookingDetails.adult}} người</p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Trẻ em</label>
               <p class="col-8" style="color: #2d4271;">{{resTourBooking.tourBookingDetails.child}} người</p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Trẻ nhỏ</label>
               <p class="col-8" style="color: #2d4271;">{{resTourBooking.tourBookingDetails.baby}} người</p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Trị giá booking</label>
               <p class="col-8" style="color: #2d4271;">{{resTourBooking.totalPrice | formatPriceVi}}₫</p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Số tiền đã thanh toán</label>
               <p class="col-8" style="color: #2d4271;">{{resTourBooking.deposit | formatPriceVi}}₫</p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Số tiền còn lại</label>
               <p class="col-8" style="color: #2d4271;">{{resTourBooking.remainPrice | formatPriceVi}}₫</p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Ngày đăng ký</label>
               <p class="col-8" style="color: #2d4271;">{{resTourBooking.dateBooking | formatFromUnixTimestampToFullDateTimeView}}</p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Hình thức đăng ký</label>
              <div class="row col-8" *ngIf="!isPaymentChange">
                <p  class="col-12" style="color: #2d4271;">{{resTourBooking.payment.namePayment}} <button class="btn btn-primary ml-3" (click)="savePayment()">{{isPaymentChange?'Lưu':'Đổi phương thức thanh toán'}}</button></p>
              </div>
              <div class="row col-8 mb-3"  *ngIf="isPaymentChange">
                <div class="col-5">
                    <ng-select
                      [items]="resPayment"
                      [(ngModel)]="resTourBooking.payment.idPayment"
                      placeholder="Chọn điểm đi..."
                      bindLabel="namePayment"
                      bindValue="idPayment"
                      [clearable]="false"
                      [searchable]="false"
                      name="payment"
                      id="payment"
                      (change)="paymentChange()">
                    </ng-select>
                </div>
                <div class="col-7">
                  <button class="btn btn-primary" style="margin-top: -0.1rem" (click)="savePayment()">{{isPaymentChange?'Lưu':'Đổi phương thức thanh toán'}}</button>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Tình trạng</label>

              <p class="col-8" style="color: #2d4271;" *ngIf="resTourBooking.status == -1 || resTourBooking.status == 5">
                <span class="badge badge-success" >{{resTourBooking.status | formatStatusBooking}}</span>
              </p>

              <p class="col-8" style="color: #2d4271;" *ngIf="resTourBooking.status == 3">
                <span class="badge badge-info" >{{resTourBooking.status | formatStatusBooking}}</span>

              </p>

              <p class="col-8" style="color: #2d4271;" *ngIf="resTourBooking.status == -2 || resTourBooking.status == 1 || resTourBooking.status == 2">
                <span class="badge badge-warning" >{{resTourBooking.status | formatStatusBooking}}</span>
              </p>

              <p class="col-8" style="color: #2d4271;" *ngIf="resTourBooking.status == 4 ">
                <span class="badge badge-danger" >{{resTourBooking.status | formatStatusBooking}}</span>
              </p>
            </div>
            <div class="row">
              <label class="form-label col-4" style="font-weight: 600;">Thời hạn thanh toán</label>
               <p class="col-8" style="color: #2d4271;"><span class="text-danger" style="font-weight: 600;">{{resTourBooking.lastDate | formatFromUnixTimestampToFullDateTimeView}}</span> (Theo giờ Việt Nam, Booking sẽ tự động hủy nếu quá thời hạn thanh toán trên)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container col-5">
        <div class="row">
          <div style="border: 1px solid #2d4271; border-radius: 10px; padding: 20px;">
            <h4  style="color: #2d4271; font-weight: 600;">PHIẾU XÁC NHẬN BOOKING</h4>
            <div class="container" style="border-top: 1px solid #2d4271;">
              <div class="mb-3 mt-3 row">
                <div class="col-4">
                  <img  [src]="resTourBooking.schedule.tour.thumbnail"  class="card-img-top">
                </div>
                <div class="col-8">
                  <p style="color: #2d4271; font-weight: 600;">{{resTourBooking.schedule.tour.nameTour}}</p>
                  <h6 class="card-subtitle mb-2 text-muted">{{resTourBooking.schedule.description}}</h6>
                </div>
              </div>
              <div class="container" style="border-top: 1px solid #2d4271;">
                <div class="row mb-3 mt-3">
                  <label class="form-label col-4" style="font-weight: 600;">Mã tour</label>
                  <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.idSchedule}}</p>
                </div>
                <div class="row">
                  <label class="form-label col-4" style="font-weight: 600;">Hành trình</label>
                   <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.departurePlace + ' => ' + resTourBooking.schedule.tour.toPlace}}</p>
                </div>
                <div class="row">
                  <label class="form-label col-4" style="font-weight: 600;">Ngày đi</label>
                   <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.departureDate | formatFromUnixTimestampToFullDateView}}</p>
                </div>
                <div class="row">
                  <label class="form-label col-4" style="font-weight: 600;">Ngày về</label>
                   <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.returnDate | formatFromUnixTimestampToFullDateView}}</p>
                </div>
                <div class="row ">
                  <label class="form-label col-4" style="font-weight: 600;">Nơi khởi hành</label>
                   <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.departurePlace}}</p>
                </div>
                <div class="row"style="text-align: center;">
                  <qrcode
                  [qrdata]="myAngularxQrCode"
                  [allowEmptyString]="true"
                  [ariaLabel]="'QR Code image with the following content...'"
                  [cssClass]="'center'"
                  [colorDark]="'#000000ff'"
                  [colorLight]="'#ffffffff'"
                  [elementType]="'canvas'"
                  [errorCorrectionLevel]="'H'"
                  [imageHeight]="75"
                  [imageWidth]="75"
                  [margin]="4"
                  [scale]="1"
                  [title]="'Thông tin bill'"
                  [width]="300"
                ></qrcode>
                </div>
                <div class="row mt-3" *ngIf="resTourBooking.status == 1 && resTourBooking.payment.idPayment != 1">
                  <button class="btn btn-info" style="color: white;"(click)="payment()">
                    Thanh toán lại
                  </button>
                </div>
                <div class="row mt-3" *ngIf="resTourBooking.status == 1 || resTourBooking.status == 2">
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelTour">
                    Hủy tour
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2" >
            <a href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#sendEmail" style="margin-left: -0.5rem;">Gửi lại thông tin hóa đơn qua email.</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="modal fade" id="cancelTour" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cancelTourLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cancelTourLabel">Xác nhận hủy tour</h1>
        <button #cancelTour type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resTourBooking">
        <div class="row mb-3 mt-3">
          <label class="form-label col-4" style="font-weight: 600;">Mã tour</label>
          <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.idSchedule}}</p>
        </div>
        <div class="row">
          <label class="form-label col-4" style="font-weight: 600;">Hành trình</label>
           <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.departurePlace + ' => ' + resTourBooking.schedule.tour.toPlace}}</p>
        </div>
        <div class="row">
          <label class="form-label col-4" style="font-weight: 600;">Ngày đi</label>
           <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.departureDate | formatFromUnixTimestampToFullDateView}}</p>
        </div>
        <div class="row">
          <label class="form-label col-4" style="font-weight: 600;">Ngày về</label>
           <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.endDate | formatFromUnixTimestampToFullDateView}}</p>
        </div>
        <div class="row mb-3">
          <label class="form-label col-4" style="font-weight: 600;">Nơi khởi hành</label>
           <p class="col-8" style="color: #2d4271;">{{resTourBooking.schedule.departurePlace}}</p>
        </div>
        <div class="row mb-3">
          <form [formGroup]="aFormGroup">
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              (error)="handleError()"
              (expire)="handleExpire()"
              (success)="handleSuccess($event)"
              [useGlobalDomain]="false"
              [theme]="'light'"
              [type]="'image'"
              formControlName="recaptcha">
            </ngx-recaptcha2>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <ng-container *ngIf="isRecapcha; else elseRecapcha">
          <button type="button" class="btn btn-danger" (click)="cancel()">Xác nhận</button>
        </ng-container>
        <ng-template #elseRecapcha>
          <button type="button" class="btn btn-danger"
          placement="top"
          ngbPopover="Quý khách cần vượt Capcha !"
          >Xác nhận</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sendEmail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sendEmailLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sendEmailLabel">Gửi Email</h1>
        <button #sendEmail type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <label for="exampleFormControlInput1" class="form-label">Email
          <span class="text-danger" style="font-weight: bolder;">* {{this.emailValid? this.emailValid : ''}}</span>
        </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="email" placeholder="name@example.com">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="button" class="btn btn-success" (click)="send()">Gửi</button>
      </div>
    </div>
  </div>
</div>
