<div class="container-fluid">
  <div class="row" style="width:100vw" >
    <div class="col-sm-4" *ngFor="let voucher of resVouchers; let i=index">
      <div class="card2" >
      </div>
      <div class="card bg-gradient-logo mx-auto">
        <div class="main" (change)="dateChange('startDate')" >
          <div class="co-img ">
          <h2>Voucher</h2>
          <!-- <h2>{{voucher.endDate -voucher.startDate | format}</h2> -->
          </div>
          <div class="vertical"></div>
          <div class="content" >

            <h2>Gift Voucher</h2>
            <h1> {{voucher.value}}% <span>Coupon</span></h1>
            <P>Từ ngày :<span>{{voucher.startDate | formatFromUnixTimestampToFullDateView}}</span></P>
            <P>Đến ngày :<span>{{voucher.endDate | formatFromUnixTimestampToFullDateView}}</span></P>
          </div>
        </div>
        <div class="copy-button">
          <input id="copyvalue" type="text" readonly value="Travel Rover" />
          <button  (click)="buyVoucher(voucher)"class="copybtn">Mua</button>
        </div>
      </div>
      <div class="card3">
      </div>
    </div>



  </div>
</div>

