<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Quên mật khẩu</h2>
                <form class="register-form" id="register-form">
                    <div class="form-group" *ngIf="!isOtp">
                        <label><i class="zmdi zmdi-email"></i></label>
                        <input for="email" type="email" [(ngModel)]="OTP.email"  name="email" id="email" placeholder="Nhập email" [readonly]="isload"/>
                    </div>
                    <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationOtp.email ? validationOtp.email : ''}}</span>

                    <div class="form-group" *ngIf="isOtp && !isTrue">
                        <label for="checkOTP"><i class="zmdi zmdi-email"></i></label>
                        <input type="text" autocapitalize="characters" [(ngModel)]="OTP.checkOTP"  name="checkOTP" id="checkOTP" placeholder="Nhập mã OTP"/>
                    </div>
                    <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationOtp.checkOTP ? validationOtp.checkOTP : ''}}</span>

                    <div class="form-group" *ngIf="isTrue">
                        <label for="password"><i class="zmdi zmdi-password"></i></label>
                        <input type="password" [(ngModel)]="resCustomer.password"  name="password" id="password" placeholder="Nhập password"/>
                    </div>
                    <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationForgotPass.password ? validationForgotPass.password : ''}}</span>


                    <div class="form-group" *ngIf="isTrue">
                        <label for="confirmPassword"><i class="zmdi zmdi-password"></i></label>
                        <input type="password" [(ngModel)]="resCustomer.confirmPassword"  name="confirmPassword" id="confirmPassword" placeholder="Nhập lại password"/>
                    </div>
                    <span class="text-danger" style="position: relative; top: -20px; font-weight: bolder;">{{validationForgotPass.confirmPassword ? validationForgotPass.confirmPassword : ''}}</span>


                    <div class="row">
                        <div class="form-group form-button " *ngIf="!isOtp">
                            <ng-container *ngIf="!isload; else elseLoadOtp">
                                <button (click)="SendOTP()" id="signup" class="btn btn-primary">Gửi mã OTP</button>
                                <!-- <input type="submit"  (click)="SendOTP()" id="signup" class="btn btn-primary" value="Gửi mã OTP"/>  -->
                            </ng-container>
                            <ng-template #elseLoadOtp>
                                <button disabled id="signup" class="btn btn-primary">Đang gửi mã OTP...</button>
                                <!-- <input type="submit"  disabled id="signup" class="btn btn-primary" value=""/>  -->
                            </ng-template>
                            
                        </div>

                        <div class="form-group form-button" *ngIf="isOtp && !isTrue">
                            <button (click)="btnCheckOTP()" id="signup" class="btn btn-primary">Xác nhận 
                                <countdown class="text-primary"  *ngIf="!isCountdown" name="countdown" (event)="handleEvent($event)" [config]="config"></countdown>
                            </button>
                            <!-- <input type="submit"  (click)="btnCheckOTP()" id="signup" class="btn btn-primary" value="Xác nhận"/>&nbsp; -->
                            <a *ngIf="isCountdown" type="submit" class="text-primary" (click)="SendOTP()">Hết hạn, Gửi lại OTP !</a>
                        </div>
                       
                        <div class="form-group form-button" *ngIf="isTrue">
                            <input type="submit"  (click)="CusForgotPass()" id="signup" class="btn btn-primary" value="Xác nhận đổi mật khẩu"/>
                        </div>
                    </div>

                   
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
            </div>
        </div>
    </div>
  </section>
  
