<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Quên mật khẩu</h2>
                <form class="register-form" id="register-form">
                    <div class="form-group" *ngIf="OTP == null">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" [(ngModel)]="email"  name="email" id="email" placeholder="Nhập email"/>
                        <!-- <span [class]="email ?'d-none':'text-red'">{{this.validationForgotPass.email ? this.validationForgotPass.email : ''}}</span> -->
                    </div>

                    <div class="form-group" *ngIf="OTP && isTrue == false">
                        <label for="checkOTP"><i class="zmdi zmdi-email"></i></label>
                        <input type="text" autocapitalize="characters" [(ngModel)]="checkOTP"  name="checkOTP" id="checkOTP" placeholder="Nhập mã OTP"/>
                    </div>

                    <div class="form-group" *ngIf="isTrue == true">
                        <label for="password"><i class="zmdi zmdi-password"></i></label>
                        <input type="password" [(ngModel)]="password"  name="password" id="password" placeholder="Nhập password"/>
                    </div>
                    <div class="form-group" *ngIf="isTrue == true">
                        <label for="confirmPassword"><i class="zmdi zmdi-password"></i></label>
                        <input type="password" [(ngModel)]="confirmPassword"  name="confirmPassword" id="confirmPassword" placeholder="Nhập lại password"/>
                    </div>


                    <div class="form-group form-button" *ngIf="OTP == null">
                        <input type="submit"  (click)="SendOTP()" id="signup" class="form-submit" value="Gửi mã OTP"/>
                    </div>
                    <div class="form-group form-button" *ngIf="OTP && isTrue == false">
                        <input type="submit"  (click)="btnCheckOTP()" id="signup" class="form-submit" value="Xác nhận"/>
                    </div>
                    <div class="form-group form-button" *ngIf="isTrue == true">
                        <input type="submit"  (click)="CusForgotPass()" id="signup" class="form-submit" value="Xác nhận đổi mật khẩu"/>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
            </div>
        </div>
    </div>
  </section>
  
