.form-control[readonly]:focus {
  background-color: #e9ecef;
  opacity: 1;
}

.changeTheme{
  width: 145px;
  top: -8px;
  left: 190px;
  display: block;
  height: 40px;
  background-color: #CBCBCB;
  border-radius: 20px;
  position: absolute;
  transition: 0.5s;

  .nameCheckBox::before{
    left: 27px;
    position: relative;
    content: "Tắt chỉnh sửa";
    color: white;
  }
}
.changeTheme::before{
  position: absolute;
  left:5px;
  top:5px;
  width:30px;
  height:30px;
  background-color: #fff;
  box-shadow: 0 5px 10px #b5b4b4;
  content:'';
  border-radius: 20px;
  transition: 0.5s;
}
.changeTheme input{
  display: none;
}
.list{
  padding:0;
  margin:30px auto;
  list-style: none;
  text-align: left;
  width:400px;
  display: block;
}
.list li{
  padding:20px;
  color:#555;
  background-color: #ddd;
  margin-bottom:10px;
  font-family: monospace;
}
.nameCheckBox{
  left: 10px;
  position: absolute;
  top: 7px;
}
.changeTheme:has(input:checked){
  background-color: #4CB774;
  .nameCheckBox::before{
    left: unset;
    position: unset;
    content: "Bật chỉnh sửa";
    color: white;
  }
}
.changeTheme:has(input:checked)::before{
  left: calc(100% - 35px);
}
