<div class="container rounded  mt-4 mb-4"  *ngIf="resCustomer">
    <div class="col">
      <h5 class="heading-small text-muted mb-4">Thông tin cá nhân</h5>
      <label class="changeTheme" style="font-weight: 600;">
        <input type="checkbox" name="changeTheme" (change)="isEditChange()" [checked]="isEdit"><span class="nameCheckBox"></span>
      </label>
      </div>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label class="form-control-label" for="nameCustomer" style="font-weight: 600;">Họ & tên
                <span [class]="!isEdit?'d-none':'text-danger'">* {{this.validateCustomer.nameCustomer ? this.validateCustomer.nameCustomer : ''}}</span>
              </label>
              <input [(ngModel)]="resCustomer.nameCustomer" (input)="inputChange()" name="nameCustomer" type="text" id="nameCustomer" class="form-control" placeholder="Nhập họ tên"  [readonly]="!isEdit">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="form-control-label" for="nameCustomer" style="font-weight: 600;">Điểm</label>
              <input [(ngModel)]="resCustomer.point" name="point" type="text" id="point" class="form-control" placeholder="0"  readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="gender" style="font-weight: 600;">Giới tính
                <span [class]="!isEdit ?'d-none':'text-danger'">* {{this.validateCustomer.gender ? this.validateCustomer.gender : ''}}</span>
              </label>
              <ng-select [items]="listGender" [(ngModel)]="resCustomer.gender" bindValue="id" bindLabel="name" name="gender" id="gender" [disabled]="!isEdit"
              placeholder="Chọn giới tính..." (change)="inputChange()">
             </ng-select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="dp" style="font-weight: 600;">Ngày sinh
                <span [class]="!isEdit ?'d-none':'text-danger'">* {{this.validateCustomer.birthday ? this.validateCustomer.birthday : ''}}</span>
              </label>
              <input  name="birthday" onkeydown="return false" (change)="inputChange()" [(ngModel)]="resCustomer.birthday" class="form-control datepicker" placeholder="Chọn ngày" name="dp" id="dp" type="date" [disabled]="!isEdit"/>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <!-- Address -->
      <h5 class="heading-small text-muted mb-4">Thông tin liên lạc</h5>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="phone" style="font-weight: 600;">Điện thoại
                <span [class]="!isEdit?'d-none':'text-danger'">* {{this.validateCustomer.phone ? this.validateCustomer.phone : ''}}</span>
              </label>
              <input [(ngModel)]="resCustomer.phone" (input)="formatInput($any($event).target); inputChange()" name="phone" type="text" id="phone" class="form-control form-control-alternative" placeholder="Nhập điện thoại" [readonly]="!isEdit">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="email" style="font-weight: 600;">Email</label>
              <input [(ngModel)]="resCustomer.email" (input)="inputChange()" name="email" type="email" id="email" class="form-control form-control-alternative" placeholder="Nhập email" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="address" style="font-weight: 600;">Địa chỉ</label>
              <textarea [(ngModel)]="resCustomer.address" (input)="inputChange()" id="address"  name="address" rows="4" class="form-control form-control-alternative" placeholder="Nhập địa chỉ" [readonly]="!isEdit"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 text-right" style="position: absolute; bottom: 10px; right: 15px;">
          <button *ngIf="isChange" class="btn btn-sm btn-primary" (click)="backup()">Khôi phục</button>
          <button *ngIf="isChange" class="btn btn-sm btn-success ml-2"  (click)="save()">Lưu</button>
        </div>
      </div>



</div>
