<div class="hero hero-inner"></div>


<div class="untree_co-section ">

    <div class="row">
        <div class="col-md-7 col-sm-12 text-center padding-20" >
            <img src="https://media.vietravel.com/images/news/tour-du-lich-nhat-ban-tet-preview.jpg"  alt="Image" class="img-fluid mb-4 rounded-20">
              <br>
              <div class="col-md-11 news-content mx-auto text-left" style="font-weight: bolder;">

                <a class="content-header">Tin tức du lịch</a><br>
                <div class="content-1">  Đón Tết tại đất nước Mặt trời mọc - Thưởng thức bánh Mochi chuẩn Nhật</div>

              </div>
        </div>
        <div class="col-md-5 col-sm-12"  >
          <div class="row">

            <div class="col-md-4 news-image">
              <img src="https://media.vietravel.com/images/news/5-dia-diem-du-lich-nhat-ban-tet-preview.jpg" width="130%" class="rounded-20" alt="Cinque Terre">
            </div>
            <div class="col-md-7 news-content ">

              <a class="content-header">Tin tức du lịch</a><br>
              <div class="content">
                Top 5 địa điểm du lịch Xứ xở hoa anh đào dịp Tết không thể bỏ qua

              </div>
              <div class="footer-content">
                21/10/2022

              </div>

            </div>
          </div>
          <div class="row " style="margin-top: 20px;">
            <div class="col-md-4 news-image">
              <img src="https://media.vietravel.com/images/news/du-lich-combo-maldives.jpg" width="130%" class="rounded-20" alt="Cinque Terre">
            </div>
            <div class="col-md-6 news-content ">

              <a class="content-header">Tin tức du lịch</a><br>
              <div class="content" >
                Tận hưởng kỳ nghỉ Maldives xinh đẹp với combo Maldives
              </div>
              <div class="footer-content">
                21/10/2022

              </div>

            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-4 news-image">
              <img src="https://media.vietravel.com/images/news/du-lich-maldives-combo.jpg" width="130%" class="rounded-20" alt="Cinque Terre">
            </div>
            <div class="col-md-6 news-content">

              <a class="content-header" >Tin tức du lịch</a><br>
              <div class="content" >
                Khám phá thiên đường Maldives với Combo Maldives 4N3Đ khách sạn The Somerset - Male City <br>
              </div>
              <div class="footer-content">
                21/10/2022

              </div>

            </div>
          </div>
        </div>


      </div>


  </div>
  <div class="untree_co-section text-center" style="padding-left: 3rem;">
    <h2 class="section-title mb-3 text-center">News</h2>
    <div class="row">
      <div class="col-md-5 col-sm-12 text-center ">
          <img src="https://media.vietravel.com/images/news/du-lich-dai-loan-thang-12.jpg" width="85%" alt="Image" class="img-fluid mb-4 rounded-20 img-news">
      </div>
        <div class="col-md-7 news-content mx-auto text-left news-normal" style="font-weight: bolder; font-weight: bolder; padding-right: 5rem; line-height: 2;" >
          <a class="tieude">Kinh nghiệm du lịch Đài Loan tháng 12 đến Cao Hùng, Đài Bắc</a><br>
          <a class="content-color">Tin tức du lịch</a><br>
          <div class="content-1">
            Đài Loan luôn là địa điểm du lịch được yêu thích đối với nhiều khách. Sau khoảng thời gian dài đóng cửa du lịch,
            giờ đây bạn đã có thể quay lại Đài Loan đến Cao Hùng hoặc Đài Bắc để chiêm ngưỡng khung cảnh mùa đông đẹp đến mê mẩn
            và trải nghiệm Lễ hội Giáng sinh độc đáo, cũng như tha hồ thưởng thức những món đặc sản xứ Đài gây thương nhớ. <br></div>


        </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-12 text-center ">
          <img src="https://media.vietravel.com/images/news/Combo-du-thuyen-Singapore-Malaysia-Thailand.jpg" width="85%" alt="Image" class="img-fluid mb-4 rounded-20 img-news">
      </div>
        <div class="col-md-7 news-content mx-auto text-left news-normal" style="font-weight: bolder; font-weight: bolder; padding-right: 5rem; line-height: 2;" >
          <a class="tieude">Combo 6N5Đ trên du thuyền đẳng cấp 5* Spectrum of The Sea: Singapore - Malaysia - Thailand</a><br>
          <a class="content-color">Tin tức du lịch</a><br>
          <div class="content-1">
            Du thuyền Spectrum Of The Sea mang đến những chuyến phiêu lưu kỳ thú ở vùng Viễn Đông sẽ chính
            là thiên đường tuyệt vời để bạn thả mình giữa đại dương bao la, tận hưởng những tiện ích đẳng cấp
             hàng đầu từ phòng nghỉ đến các tiện nghi giải trí, thư giãn. Chiếc du thuyền sang trọng này sẽ
             là điểm dừng chân tuyệt vời cho những ai đang mơ về những chuyến vi vu sang chảnh giữa biển khơi.
             Cùng Vietravel tìm hiểu lịch trình và thông tin chi tiết về combo du thuyền Singapore - Malaysia -
             Thái Lan qua bài viết dưới đây. <br>


          </div>

        </div>
    </div>
  </div>

<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center">
        <h2 class="section-title mb-3 text-center">Team</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
           there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
            a large language ocean.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 mb-4">
        <div class="team">
          <img src="assets/images/person_1.jpg" alt="Image" class="img-fluid mb-4 rounded-20">
          <div class="px-3">
            <h3 class="mb-0">James Watson</h3>
            <p>Co-Founder &amp; CEO</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="team">
          <img src="assets/images/person_2.jpg" alt="Image" class="img-fluid mb-4 rounded-20">
          <div class="px-3">
            <h3 class="mb-0">Carl Anderson</h3>
            <p>Co-Founder &amp; CEO</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-4">
        <div class="team">
          <img src="assets/images/person_4.jpg" alt="Image" class="img-fluid mb-4 rounded-20">
          <div class="px-3">
            <h3 class="mb-0">Michelle Allison</h3>
            <p>Co-Founder &amp; CEO</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="team">
          <img src="assets/images/person_3.jpg" alt="Image" class="img-fluid mb-4 rounded-20">
          <div class="px-3">
            <h3 class="mb-0">Drew Wood</h3>
            <p>Co-Founder &amp; CEO</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>




<div class="untree_co-section testimonial-section mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h2 class="section-title text-center mb-5">Testimonials</h2>

        <div class="owl-single owl-carousel no-nav">
          <div class="testimonial mx-auto">
            <figure class="img-wrap">
              <img src="assets/images/person_2.jpg" alt="Image" class="img-fluid">
            </figure>
            <h3 class="name">Adam Aderson</h3>
            <blockquote>
              <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <figure class="img-wrap">
              <img src="assets/images/person_3.jpg" alt="Image" class="img-fluid">
            </figure>
            <h3 class="name">Lukas Devlin</h3>
            <blockquote>
              <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <figure class="img-wrap">
              <img src="assets/images/person_4.jpg" alt="Image" class="img-fluid">
            </figure>
            <h3 class="name">Kayla Bryant</h3>
            <blockquote>
              <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-6">
        <figure class="img-play-video">
          <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=mwtbEGNABWU" data-fancybox>
            <span></span>
          </a>
          <img src="assets/images/hero-slider-2.jpg" alt="Image" class="img-fluid rounded-20">
        </figure>
      </div>

      <div class="col-lg-5">
        <h2 class="section-title text-left mb-4">Take a look at Tour Video</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

        <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

        <ul class="list-unstyled two-col clearfix">
          <li>Outdoor recreation activities</li>
          <li>Airlines</li>
          <li>Car Rentals</li>
          <li>Cruise Lines</li>
          <li>Hotels</li>
          <li>Railways</li>
          <li>Travel Insurance</li>
          <li>Package Tours</li>
          <li>Insurance</li>
          <li>Guide Books</li>
        </ul>

        <p><a href="#" class="btn btn-primary">Get Started</a></p>


      </div>
    </div>
  </div>
</div>

<div class="py-5 cta-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="mb-2 text-white">Lets you Explore the Best. Contact Us Now</h2>
        <p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>
        <p class="mb-0"><a href="booking.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
      </div>
    </div>
  </div>
</div>
