.news-content{
  padding: 10px; font-size: 20px;
  margin-left: 40px;
}
.content-color{
  color: red !important;
}
.col-md-10
{
  padding:10px;
  font-size: 30px;
}
hr{
  border: 1px solid #2d4271;
}
.tieude{
  font-size: 30px;
  color: #2d4271;;
}
.news-normal{
  max-height: 400px;
    position: relative;
    border-bottom: 2px double #2d4271;

}
.ke{
  margin-top: 1000px;
}
.content{
font-size: 15px;
}
