<section class="signup">
  <div class="container" *ngIf="resCustomer">
      <div class="signup-content">
          <div class="signup-form">
              <h2 class="form-title">Sign up</h2>
              <form class="register-form" id="register-form">
                  <div class="form-group">
                      <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                      <input type="text" [(ngModel)]="resCustomer.nameCustomer" name="nameCustomer" id="nameCustomer" placeholder="Nhập họ tên"/>
                  </div>
                  <div class="form-group">
                      <label for="email"><i class="zmdi zmdi-email"></i></label>
                      <input type="email" [(ngModel)]="resCustomer.email" name="email" id="email" placeholder="Nhập email"/>
                  </div>
                  <div class="form-group">
                      <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                      <input type="text" [(ngModel)]="resCustomer.phone" name="phone" id="phone" placeholder="Nhập điện thoại"/>
                  </div>
                  <div class="form-group">
                      <label for="gender"><i class="zmdi zmdi-gender"></i></label>
                      <input type="text" [(ngModel)]="resCustomer.gender" name="gender" id="gender" placeholder="Chọn giới tính"/>
                  </div>
                  <div class="form-group">
                    <label for="address"><i class="zmdi zmdi-address"></i></label>
                    <input type="text" [(ngModel)]="resCustomer.address" name="address" id="address" placeholder="Nhập địa chỉ"/>
                </div>
                  <div class="form-group">
                      <label for="birthday"><i class="zmdi zmdi-birthday"></i></label>
                      <input  name="text"  (change)="resCustomer.birthday = birthday" [(ngModel)]="birthday" class="form-control datepicker" placeholder="Chọn ngày" name="dp" id="dp" type="date"/>
                </div>
                  <div class="form-group">
                      <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                      <input type="password" [(ngModel)]="resCustomer.password" name="password" id="password" placeholder="Nhập mật khẩu"/>
                  </div>
                  <!-- <div class="form-group">
                      <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                      <input type="password" name="re_pass" id="re_pass" placeholder="Nhập lại mật khẩu"/>
                  </div> -->
                  <div class="form-group">
                      <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                      <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                  </div>
                  <div class="form-group form-button">
                      <input type="submit" (click)="save()" name="signup" id="signup" class="form-submit" value="Register"/>
                  </div>
              </form>
          </div>
          <div class="signup-image">
              <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
              <a href="#" class="signup-image-link">Bạn đã có tài khoản!</a>
          </div>
      </div>
  </div>
</section>
