@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
h1{
    font-family: 'Anton', sans-serif;
}

.s_container{
    position: absolute;
    top: 500%;
    left:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    height:1000px;
    padding:50px;
    z-index: 999;
}
#slide{
    width:max-content;
    margin-top:50px;
}
.s_item{
  border-radius: 10px;
    width:400px;
    height:540px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    background-size: 100%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
}
.s_item:nth-child(1){
    transform: translate(-150%);
    background-position: 0% 50%;
    opacity: 0;
}
.s_item:nth-child(2){
    transform: translate(-40%);
    background-position: 20% 50%;
}
.s_item:nth-child(3){
    transform: translate(70%);
    background-position: 50% 50%;
}
.s_item:nth-child(4){
    transform: translate(180%);
    background-position: 80% 50%;
}
.s_item:nth-child(n+5){
    transform: translate(290%);
    background-position: 100% 50%;
    opacity: 0;
}
.s_item .s_content{
    position: absolute;
    top:89%;
    background-color: #fff;
    width:100%;
    padding:0 10%;
    font-family: system-ui;
    text-align: center;
    box-shadow: 0 30px 50px #b9b9b9;
    transition: 0.5s ;
    overflow: hidden;
    max-height: 0;
}
.s_item .s_content .s_name{
    font-family: 'Anton', sans-serif;
}
.s_item:hover .s_content{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  max-height: 100px;
}
.s_item:hover{
    background-size: 120%;
}
.s_buttons{
    text-align: center;
    width:100%;
}
.s_buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}
.s_buttons button:hover{
    background-color: #bac383;
}

.s_buttons #prev{
  position: absolute;
    top: 350px;
    left: -200px;
    z-index: 1
}

.s_buttons #next{
  position: absolute;
  top: 350px;
  right: -260px;
  z-index: 1;
}

.mess{
  z-index: 999;
  position: sticky;
  bottom: 1%;
  margin-left: 95%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
  background: #5686e0;
  transition: 0.5s;
  cursor: pointer
}

.mess:hover{
  transition: 0.5s;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  cursor: pointer;
  .mess-label{
    font-size: 30px
  }
}

.mess-label{
  color: white;
  font-size: 25px
}

.back-to-top:hover{
  transition: 0.5s;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  cursor: pointer;
  .back-to-top-label{
    font-size: 30px
  }
}

.back-to-top-label{
  color: white;
  font-size: 25px
}

.back-to-top{
  z-index: 999;
  position: sticky;
  bottom: 1%;
  margin-left: 95%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
  animation: color 2s infinite;
  transition: 0.5s;
  cursor: pointer
}

// .back-to-top:hover{
//   transition: 0.5s;
//   width: 60px;
//   height: 60px;
//   padding-top: 17px;
//   cursor: pointer;
//   .cart-label{
//     font-size: 30px
//   }

// }
.cart{
  z-index: 999;
  position: sticky;
  bottom: 1%;
  margin-left: 95%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
  animation: color 2s infinite alternate;
  transition: 0.5s;
}

.cart-label{
  color: white;
  font-size: 25px
}

.cart:hover{
  transition: 0.5s;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  cursor: pointer;
  .cart-label{
    font-size: 30px
  }
  .cart-close{
    opacity: 1
  }
}

.cart-close{
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 22px;
  opacity: 0;
  transition: 0.5s;
}

.cart-close-icon{
  background-color: rgb(92, 90, 89);
  border-radius: 50%;
  color: white;
}

.cart-info{
  background-color: antiquewhite;
  width: 300px;
  height: 130px;
  position: absolute;
  left: -310px;
  top: -20px;
  border-radius: 5px;
}

@keyframes color {
  0% {background-color: #6998AB}
  50% {background-color: #5686e0}
  100% {background-color: #7f49d6}
  // 100% {background-color: #6998AB}
}

.card-shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-shadow:hover{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
//
.card-mess {
    display: none;
    opacity: 0;
    z-index: 999;
    bottom: 0;
    right: 7rem;
    width: 350px;
    height: 520px;
    border-radius: 5px;
    background: #f8f5f5;
    position: fixed;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}
.header-mess{
  width: 350px;
  height: 3.5rem;
  border-bottom: 2px solid #000000a6;
}
.body-mess
{
    width: 350px;
    height: 25rem;
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0.5rem;
}

.footer-mess
{
    padding-top: 0.3rem;
    margin-left: 0;
    width: 350px;
    border-top: 2px solid rgba(0, 0, 0, 0.6509803922);
}

.card__header{
  margin-right: -1rem;
  padding: 1rem;
}
.col-sm-9
{
  padding: 0.5rem;
  font-size: 1.5rem;
}

.card__body{
  padding-top: 1rem;
  padding-bottom: 4rem;
  height: 50rem;
  max-height: 50rem;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

}

.card__footer{
  border-top: 1px solid silver;
  height: 5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
}
.card-send {
  color: white;
  max-width: 40rem;
  word-wrap: break-word;
  height: 50px;
  background: rgb(73, 146, 241);
  border-radius: 40px;
  position: absolute;
  right: 0;
  padding: 1rem;
  padding-bottom: 2.5rem;
}

.card-receive {
  color: white;
  padding: 1rem;
  padding-bottom: 2.5rem;
  max-width: 40rem;
  word-wrap: break-word;
  height: 50px;
  background: cadetblue;
  border-radius: 40px;
  position: absolute;
  left: 0;
}




.searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 1;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 106%;
  // max-width: 224px;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}


.icon-send{
  transform: rotate(44deg);
  font-size: 30px;
  margin-top: 0.8rem;
  cursor: pointer;
  transition: 0.5s;
}

.icon-send:hover{
  transition: 0.5s;
  color: #209077;
  // font-size: 32px;
  // margin-top: 0.3rem;
}

.menu-arrow{
  background: #f8f5f5;
  box-shadow: none;
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotate(-45deg) translateY(12px);
  z-index: -5;
  border-radius: 2px;
  // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.card-mess-open{
  animation: open-card 0.5s forwards;
}

.card-mess-close{
  animation: close-card 0.5s forwards;
}

@keyframes open-card {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes close-card {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.card__title{
  margin-top: -0.5rem;
}

.card__time{
  margin-top: -0.5rem;
  color: gray;
  font-weight: lighter;
}


::-webkit-scrollbar{
  margin-left: 50px;
  width: 3px;

 }

 ::-webkit-scrollbar-track{
  height: 10px;
 }

 ::-webkit-scrollbar-thumb{
  height: 20px !important;
  border-radius: 50px;
  background: linear-gradient(-45deg, #209077, #1ae28a 100%) !important;
 }

// .nav-tabs .nav-link {
//   background: #6D67E4;}

  .nav-link {
    color: white;
    font-size: 20px;
    font-weight: 500;
  }

  .nav-tabs .nav-link {
    background: #97DECE ;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #EFF5F5;
    color: cornflowerblue;}

  .nav-tabs {
      --bs-nav-tabs-link-hover-border-color: white
  }

  .form {
    position: relative;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 30%);
    border-radius: unset;
    z-index: 9;
    padding: 30px;
    background: #ffffff;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
  }
