@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
h1{
    font-family: 'Anton', sans-serif;
}

.s_container{
    position: absolute;
    top: 500%;
    left:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    height:1000px;
    padding:50px;
    z-index: 999;
}
#slide{
    width:max-content;
    margin-top:50px;
}
.s_item{
  border-radius: 10px;
    width:400px;
    height:540px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    background-size: 100%;
    position: absolute;
    z-index: 1;
}
.s_item:nth-child(1){
    transform: translate(-150%);
    background-position: 0% 50%;
    opacity: 0;
}
.s_item:nth-child(2){
    transform: translate(-40%);
    background-position: 20% 50%;
}
.s_item:nth-child(3){
    transform: translate(70%);
    background-position: 50% 50%;
}
.s_item:nth-child(4){
    transform: translate(180%);
    background-position: 80% 50%;
}
.s_item:nth-child(n+5){
    transform: translate(290%);
    background-position: 100% 50%;
    opacity: 0;
}
.s_item .s_content{
    position: absolute;
    top:89%;
    background-color: #fff;
    width:100%;
    padding:0 10%;
    font-family: system-ui;
    text-align: center;
    box-shadow: 0 30px 50px #b9b9b9;
    transition: 0.5s ;
    overflow: hidden;
    max-height: 0;
}
.s_item .s_content .s_name{
    font-family: 'Anton', sans-serif;
}
.s_item:hover .s_content{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  max-height: 100px;
}
.s_item:hover{
    background-size: 120%;
}
.s_buttons{
    text-align: center;
    width:100%;
}
.s_buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}
.s_buttons button:hover{
    background-color: #bac383;
}

.s_buttons #prev{
  position: absolute;
    top: 350px;
    left: -200px;
    z-index: 1
}

.s_buttons #next{
  position: absolute;
  top: 350px;
  right: -260px;
  z-index: 1;
}


.back-to-top{
  z-index: 999;
  position: sticky;
  bottom: 2%;
  margin-left: 96%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
  animation: color 2s infinite;
  transition: 0.5s;
  cursor: pointer
}

// .back-to-top:hover{
//   transition: 0.5s;
//   width: 60px;
//   height: 60px;
//   padding-top: 17px;
//   cursor: pointer;
//   .cart-label{
//     font-size: 30px
//   }

// }
.cart{
  z-index: 999;
  position: sticky;
  bottom: 8%;
  margin-left: 96%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
  animation: color 2s infinite;
  transition: 0.5s;
}

.cart-label{
  color: white;
  font-size: 25px
}

.cart:hover{
  transition: 0.5s;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  cursor: pointer;
  .cart-label{
    font-size: 30px
  }
  .cart-close{
    opacity: 1
  }
}

.cart-close{
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 22px;
  opacity: 0;
  transition: 0.5s;
}

.cart-close-icon{
  background-color: rgb(92, 90, 89);
  border-radius: 50%;
  color: white;
}

.cart-info{
  background-color: antiquewhite;
  width: 300px;
  height: 130px;
  position: absolute;
  left: -310px;
  top: -20px;
  border-radius: 5px;
}

@keyframes color {
  0% {background-color: #6998AB}
  35% {background-color: #5686e0}
  70% {background-color: #7f49d6}
  100% {background-color: #6998AB}
}

.card-shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-shadow:hover{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
