


    <div class="card" style="width: 50rem;height: 25rem;">
      <div class="tools">
        <div class="circle">
          <span class="red box"></span>
        </div>
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <div class="circle">
          <span class="green box"></span>
        </div>
        <button #closeModal (click)="clear()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 44rem;"></button>
      </div>
      <div class="card__content" style="width: 42rem; margin-left: 3rem;">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="row">
               <div class="col-12">
                  <h4>Đánh Giá: {{nameTour}}</h4>
               </div>
              </div>
              <div class="row">
                <div class="col-8"><ngb-rating  [(rate)]="currentRate" style="font-size: 3rem; color: orange"> </ngb-rating></div>
                <div class="col-4"><pre style="margin-top: 1.5rem; font-size: 1rem;">Rate: <b>{{currentRate}}</b></pre></div>
              </div>

              <div class="ckeditorContainer">
                <ckeditor [(ngModel)]="resCmt.commentText" #editor [editor]="Editor" data="" [config]="{toolbar: []}"></ckeditor>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          <button (click)="createComment()" type="button" class="btn btn-primary" style="margin-right: 1rem;">Gửi</button>
          <button type="button" (click)="clear()" class="btn btn-danger" data-bs-dismiss="modal" style="margin-right: 3rem;">Đóng</button>
        </div>
      </div>

    </div>



