<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Đánh Giá Tour</h1>
    <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <ngb-rating  [(rate)]="currentRate" >

    </ngb-rating>
    <pre>Rate: <b>{{currentRate}}</b></pre>
    <h6>Bình Luận</h6>
    <ckeditor [(ngModel)]="resCmt.commentText" #editor [editor]="Editor" data="" [config]="{toolbar: []}"></ckeditor>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    <button (click)="createComment()" type="button" class="btn btn-primary">Gửi</button>
  </div>
