// /* You can add global styles to this file, and also import other style files */
// @import "/src/assets/scss/tour1.0/functions";
// @import "/src/assets/scss/tour1.0/variables";
// @import "/src/assets/scss/tour1.0/mixins";

// $primary: #1A374D;
// $secondary: #6998AB;
// $black: #000000;
// $white: #ffffff;
// $grey: #5b5656;
// $heading_color: #000;
// $text_light_color: #a0a4ab;


// $font-family: 'Source Serif Pro', serif;
// $font-family-sans-serif: 'Inter', sans-serif;

// @import '/src/assets/scss/tour1.0/site-base';
// @import '/src/assets/scss/tour1.0/site-navbar';
// @import '/src/assets/scss/tour1.0/site-blocks';
// @import '/src/assets/scss/tour1.0/site-elements';
// @import '/src/assets/scss/tour1.0/site-footer';

@import '../src/assets/css/tour1.0/bootstrap.min.css';
@import '../src/assets/css/tour1.0/owl.carousel.min.css';
@import '../src/assets/css/tour1.0/owl.theme.default.min.css';
@import '../src/assets/css/tour1.0/jquery.fancybox.min.css';
@import '../src/assets/fonts/icomoon/style.css';
@import '../src/assets/fonts/flaticon/font/flaticon.css';
@import '../src/assets/css/tour1.0/daterangepicker.css';
@import '../src/assets/css/tour1.0/aos.css';
@import '../src/assets/css/tour1.0/style.css';

@import "~ngx-toastr/toastr";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "../src/assets/scss/custom/functions";
@import "../src/assets/scss/custom/variables";
@import "../src/assets/scss/custom/mixins";

// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";
@import "@coreui/coreui/scss/coreui";


a{
  text-decoration: none;
}

body{
  font-family: roboto,sans-serif !important;
}

.form-control{
  color: black !important;
}
